# vim: set ft=yaml
# eslint config file
---
env:
  node: true
  amd: true
globals:
  describe: true
  xdescribe: true
  it: true
  xit: true
  expect: true
  beforeEach: true
  before: true
  afterEach: true
  after: true
  sinon: true
  jQuery: true
  jsdom: true
  sources: true
  testRoot: true
  $: true
  $$: true
rules:
  no-unused-expressions: 0
  max-nested-callbacks: 0
  handle-callback-err: 0
