#settings {
  .comment {
    line-height: 20px;
    margin-left: 16px;
    color: #999;
  }

  .tabcontainer {
    margin-bottom: 15px;
  }

  .tab.current input {
    width: auto;
  }

  li.info {
    display: inline-block;
    color: #22AD19;
    margin-left: 15px;
  }

  span {
    color: #666;
  }

  .text, .checkbox {
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
  }

  input[type=url], input[type=password] {
    margin-left: 15px;
    padding: 6px;
    width: 400px;
  }

  button.save:before {
    font-family: "formofill";
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
  }
}
