/* Workflows */
#workflows .tab input {
  width: auto;
}

#workflows .menu {
  margin-top: 7px;
}

#workfloweditor {
  min-height: 100%;
  width: 800px;
  margin-top: 10px;
  border: 1px solid #909090;
  overflow: hidden;
  padding: 5px;
}

#workfloweditor .wf-name {
  width: 100%;
}

#workfloweditor select.rulelist {
  width: 80%;
  margin-right: 10px;
}

#workfloweditor li {
  padding: 0 0 5px 0;
  cursor: pointer;
}

#workfloweditor li {
  padding: 5px 5px 5px 0;
  cursor: move;
  background-color: #FAFAF7;
  margin-bottom: 5px;
}

#workfloweditor li:before {
  font-family: "formofill";
  font-size: 24px;
  vertical-align: middle;
  margin-right: 4px;
  content: "\e60b";
}

#workfloweditor li button {
  margin-left: 10px;
}

#workfloweditor button:before, .wf-all button:before, .wf-button-cancel:before, .icon:before {
  font-family: "formofill";
  font-size: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

#workfloweditor .wf-delete-step:before {
  content: "\e609";
}

#workfloweditor .wf-add-step:before {
  content: "\e606";
}

.wf-add-wf:before {
  content: "\e608";
}

#workfloweditor .actions {
  overflow: hidden;
}

#workfloweditor .actions button {
  float: left;
  margin-right: 5px;
}

button.wf-button-save:before {
  content: "\e603";
}

button.wf-button-delete:before {
  content: "\e609";
}

.wf-button-cancel:before {
  content: "\e602";
}

button.wf-button-import:before {
  content: "\e604";
}

.wf-all select {
  min-width: 30%;
}

#workflows #notices {
  margin-top: 15px;
}

#workfloweditor li.has-error {
  color: Red;
  font-weight: bold;
}

#workfloweditor li.has-error span.has-error {
  margin-left: 15px;
}

.wf-cancel-hint {
  font-size: 10px;
}

.wf-options {
  text-align: right;
  padding-right: 10px;
}

#workfloweditor .wf-delay-step {
  margin-left: 10px;
  width: 40px;
}
