@font-face {
  font-family: 'formofill';
  src: url('../fonts/formofill.woff?-n1boxl') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', Arial,sans-serif;
  color: #2c2c2c;
  margin: 0;
  padding: 10px;
}

.navigation h1:before {
  font-family: "formofill";
  content: "\e600";
  position: absolute;
  color: #d0d0d0;
  top: 7px;
  font-size: 3rem;
  z-index: -1;
  left: 40px;
}

.overlay .close-button {
  cursor: pointer;
}

.modalimport {
  display: none;
}

.only-json, .decryption-error {
  display: none;
}

#rules-overview {
  float: right;
  margin-top: 7px;
}

span.version {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #ccc;
  display: block;
}

h3 span.unsaved-changes {
  float: right;
  font-size: 11px;
  color: Red;
  display: none;
}

.beta {
  color: #f00000;
  transform: rotate(45deg);
  position: absolute;
}

.unpacked-only {
  margin: 10px 0;
}

.modalimport {
  .content-sidebar {
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;

    + .content-area {
      display: inline-block;
    }
  }

  .tldr {
    border: 1px solid #999;
    background-color: #eee;
    padding: 10px;
  }

}

@import "usage_report";
@import "editor";
@import "workflows";
@import "help";
@import "tabs";
@import "tutorial";
@import "notice";
@import "chrome_bootstrap_overwrites";
@import "introjs_overwrites";
@import "changelog";
@import "settings";
@import "rule_summary";
@import "import_export";
