@font-face {
	font-family: 'formofill';
	src: url('../fonts/formofill.woff?-n1boxl') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'formofill';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bucket:before {
	content: "\e600";
}

.icon-archive:before {
	content: "\e601";
}

.icon-cascade:before {
	content: "\e608";
}

html {
  width: 330px;
  min-height: 200px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Arial,sans-serif;
  font-size: 13px;
  color: #2c2c2c;
  margin: 0;
  padding: 10px;
  min-height: 200px;
}

h3 {
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #2d2c2c;
}

ul {
  margin: 0 0 15px 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 5px 0 5px 5px;
  cursor: pointer;
  margin-left: 27px;
  text-indent: -27px;
  line-height: 18px;
}

li:hover {
  background-color: #ccc;
}

li:before {
  margin-right: 10px;
  vertical-align: middle;
}

li.select-workflow {
  color: #192E98;
}

.select-rule.from-shadow:after {
	content: " (\e900)";
}

a, a:visited, a:hover, a:active {
  outline: none;
  color: #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  text-decoration: none;
}

.hidden {
  display: none;
}

a.cmd-show-extract-overlay {
  margin-left: 10px;
}

h3 .cmd-show-extract-overlay {
  font-size: inherit;
  float: none;
  margin-left: 0;
}

.actions {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.actions a {
  color: #333;
  font-size: 9px;
  float: right;
  margin: 0 10px 10px 0;

  &.on {
    color: #11C711;
  }

  &.off {
    color: Red;
  }
}

.actions .cmd-cancel-workflows {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  float: left;
}
