.introjs-prevbutton {
  visibility: hidden;
  width: 0;
  display: none;
}

.introjs-skipbutton {
  float: left;
}

.tuts {
  display: none;
}

.introjs-helperLayer.hidden {
  display: none;
}

.introjs-showElement {
  z-index: 99599999!important;
}

.ace-jsoneditor .ace_marker-layer .ace_active-line.ace_highlight-line {
  background-color: #EEE;
  border: 2px solid #3EBB3A;
  margin-top: -3px;
  border-radius: 5px;
  padding-top: 1px;
  box-shadow: #aaa 2px 2px;
}

.introjs-tooltip[data-width=xl] {
  min-width: 400px
}

.introjs-tooltip code {
  background-color: #eee;
  color: #AF2F2F;
}
