@-webkit-keyframes working0 {
  from   { transform: scale(1); }
  to { transform: scale(1.1); }
}

.form-o-fill-overlay-cover {
  position: fixed;
  width: 100%;
  height:100%;
  background-color: #333;
  opacity: .6;
  z-index: 9998;
}

.form-o-fill-overlay-form {
  cursor: pointer;
  position: absolute;
  background-color: #ff0000;
  opacity: .5;
  z-index: 9999;
  border-radius: 5px;
  border: 1px solid #fff;
}


.form-o-fill-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open sans", Arial, Helvetica;
  font-size: 12px;
  color: #fff;
  padding: 10px;
}

#form-o-fill-working-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20%;
  margin-left: -10%;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
  font-family: Arial, Helvetica, sans serif;
  text-align: center;
  vertical-align: middle;
  padding:  20px;
  border-radius: 5px;
  font-size: 20px;
  -webkit-animation: working0 250ms 20 alternate;
  box-shadow: #999 5px 5px 5px;
}
