@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?-n1boxl') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', Arial,sans-serif;
  color: #2c2c2c;
  margin: 0;
  padding: 10px;
}

.chrome-bootstrap {
  font-family: 'Open Sans', Arial,sans-serif;
}

.chrome-bootstrap .frame .view, .chrome-bootstrap .frame .content {
  width: 900px;
}

.navigation h1:before {
  font-family: "icomoon";
  content: "\e600";
  position: absolute;
  color: #d0d0d0;
  top: 7px;
  font-size: 3rem;
  z-index: -1;
  left: 40px;
}

#ruleeditor-ace {
  width: 800px;
  height: 500px;
  border: 1px solid #909090;
}

.editor .menu {
  margin-bottom: 10px;
}

.menu button {
  vertical-align: bottom;
  padding: 0 6px;
  width: auto;
  outline: none;
}

.menu button:before {
  font-family: "icomoon";
  font-size: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

.menu button.save:before {
  content: "\e603";
}

.menu button.reload:before {
  content: "\e604";
}

.menu button.append-extracted:before {
  content: "\e607";
}

.menu button.format:before {
  content: "\e608";
}

.menu button.empty:before {
  content: "\e600";
}

.editor .menu .info {
  color: #999;
  line-height: 32px;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 11px;
}

#ruleditor .notice:last-child {
  margin-bottom: 0;
}

#ruleeditor .notice {
  display: none;
  border: 1px solid #909090;
  padding: 10px 25px 10px 36px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 14px;
  position: relative;
  background-color: #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

#ruleeditor .notice:before {
  font-family: "icomoon";
  font-size: 24px;
  vertical-align: middle;
  content: "\e602";
  color: rgb(197, 25, 25);
  position: absolute;
  top: 6px;
  left: 7px;
}

#ruleeditor .notice:after {
  font-family: "icomoon";
  font-size: 18px;
  content: "\e609";
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
}

#ruleeditor .notice .code {
  font-family: "droid sans mono", monospace, "courier new", courier, sans-serif;
  background-color: #bbb;
  padding: 2px 4px;
}

#ruleeditor .notice.form-fill-errors span {
  text-decoration: underline;
}

.form-fill-errors table {
  margin-top: 10px;
  font-family: monospace, Arial, Helvetica;
  border: 1px solid #bbb;
}

.form-fill-errors th {
  text-align: left;
  background-color: transparent;
}

.form-fill-errors tr:first-child {
  background-color: #ddd;
}

.form-fill-errors td {
  padding: 0 10px 0 0;
}

.tabcontainer {
  position: relative;
  height: 45px;
  width: 100%;
}

.tabs {
  border-bottom: 1px solid #ddd;
  position: absolute;
  width: 100%;
}

.tabs .tab {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 6px;
  display: inline-block;
  margin-left:  10px;
  margin-bottom: -1px;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  height: 21px;
}

.tabs .tab:first-child {
  margin-left: 0
}

.tabs .tab input {
  cursor: pointer;
  width: 75px;
  color: #bbb;
}

.tabs .tab a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.tabs .tab a:after {
  font-family: icomoon;
  content: "\e605";
  font-size: 16px;
  margin-left: 6px;
  color: #bbb;
}

.tabs .tab:first-child a {
  visibility: hidden;
}

.tabs .tab a.edit {
  visibility: visible;
}

.tabs .tab a.edit:after {
  content: "\e603";
  color: #008000;
}

.tabs .tab a.edit:hover:after {
  content: "\e603";
  color: #008000;
}

.tabs .tab a:hover:after {
  color: #ddd;
}

.tabs .tab:last-child input {
  width: 10px;
}

.tabs .tab:last-child a:after {
  content: "\e606";
}

.tabs .tab.current {
  border-bottom: 1px solid #fff;
}

.tabs .tab.current input {
  color: #111
}

.tabs .tab input[type=text] {
  border: 0;
  padding: 0;
}

#help .topics a {
  display: inline-block;
  padding:  10px;
  background-color: #eee;
  margin-left: 10px;
  text-decoration: none;
  color: #111;
}

#help .topics a:first-child {
  margin-left: 0;
}

#help .topics a.current {
  background-color: #ccc;
}

#help .topics a:hover {
  background-color: #ccc;
}

#help .topic li .li-block {
  display: block;
  margin-left: 16px;
}

#help .topic li {
  text-indent: -14px;
  margin-left: 14px;
}

#help .topic li:before {
  font-family: icomoon;
  content: "\e600";
}

#help .topic li img {
  vertical-align: middle;
}

#help .warning:before {
  font-family: "icomoon";
  vertical-align: middle;
  content: "\e602";
  color: rgb(197, 25, 25);
}

.log-entries table {
  margin: 10px 0;
  width: 100%;
}

.log-entries td:first-child {
  white-space: nowrap;
}

.log-entries td {
  padding: 5px;
  vertical-align: top;
}

.log-entries th {
  background-color: #ddd;
  padding:  5px 2px;
}

.log-entries tr:nth-child(even) {
  background-color: #eee;
}

